@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

div.grid {
  display: grid;
}

div.grid > div.btn-group {
  grid-column: 1 /-1;
}
div.grid > div.btn-group > div.right-align {
  text-align: right;
}

div.grid > label {
  padding-left: 0.625rem;
}

div.grid input,
div.grid button,
div.gird textarea {
  padding: 0.625rem;
}

div.write {
  grid-template-columns: 5rem 1fr;
  grid-template-rows: 1fr;
  row-gap: 0.625rem;
}
